*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "HelveticaCondensed";
  src: url("../fonts/HelveticaNeueCondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaCondensed";
  src: url("../fonts/HelveticaNeueCondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "HelveticaRoman", sans-serif;
  background-color: #1A1A1A;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1110px;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

.title {
  position: relative;
  text-wrap: wrap;
  overflow-wrap: break-word;
  word-break: keep-all;
  width: 100%;
}
@media (max-width: 460px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.title__main {
  padding: 23px 0;
  max-width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #D9D9D9;
  font-size: 30px;
  letter-spacing: 7px;
  margin-right: -7px;
  text-transform: capitalize;
}
@media (max-width: 710px) {
  .title__main {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .title__main {
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.title__bg {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 1;
  top: -1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 100px;
  letter-spacing: 22px;
  margin-right: -22px;
  color: #303030;
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 900;
}
@media (max-width: 710px) {
  .title__bg {
    font-size: 70px;
  }
}
@media (max-width: 460px) {
  .title__bg {
    font-size: 55px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    letter-spacing: 10px;
    margin-right: -10px;
    line-height: 1;
    margin-bottom: 4px;
  }
}
.title_line {
  padding-bottom: 3.5%;
}
.title_line::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34C759;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 10;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media (max-width: 710px) {
  .title_line {
    padding-bottom: 5px;
  }
}
@media (max-width: 460px) {
  .title_line {
    padding-bottom: 20px;
  }
}

.header {
  padding: 33px 0;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.0588235294);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}
.header__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 689.98px) {
  .header__items {
    display: none;
  }
}
.header__items._active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 689.98px) {
  .header__items._active {
    position: fixed;
    top: 0;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    left: 0;
    width: 100%;
    padding: 100px 15px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.burger {
  position: relative;
  z-index: 10;
  display: none;
  background-color: transparent;
  width: 20px;
  height: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.burger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #34C759;
  border-radius: 50%;
}
.burger span {
  position: relative;
  z-index: 12;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
}
@media (max-width: 689.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item-header__link {
  font-family: "HelveticaCondensed";
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-header__link:hover {
  color: #34C759;
}
@media (max-width: 689.98px) {
  .item-header__link {
    color: #000;
  }
}

.hero {
  padding: 171px 0 400px;
  position: relative;
}
@media (max-width: 991.98px) {
  .hero {
    padding-bottom: 170px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-bottom: 100px;
  }
}
@media (max-width: 509.98px) {
  .hero {
    padding: 130px 0 100px;
  }
}
.hero__bg {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__title {
  color: #fff;
  text-transform: capitalize;
  font-size: 72px;
  letter-spacing: 10px;
  text-align: center;
  line-height: 1.15;
}
.hero__title_strong {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
@media (max-width: 1050px) {
  .hero__title {
    font-size: 55px;
  }
  .hero__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .hero__title {
    font-size: 48px;
  }
}
@media (max-width: 509.98px) {
  .hero__title {
    font-size: 47px;
  }
}
.hero__text {
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7019607843);
}
.hero__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 509.98px) {
  .hero__text {
    font-size: 17px;
  }
  .hero__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.hero__link {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-family: "HelveticaCondensed", sans-serif;
  letter-spacing: 4px;
  font-size: 18px;
  color: #1A1A1A;
  padding: 27px 54px;
  background-color: #34C759;
  border-radius: 100px;
  line-height: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero__link:not(:last-child) {
  margin-bottom: 70px;
}
.hero__link:hover {
  background-color: #58e27a;
}
@media (max-width: 509.98px) {
  .hero__link {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    font-size: 21px;
  }
  .hero__link:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  row-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 245px;
          flex: 0 1 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-hero__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-hero__picture:not(:last-child) {
  margin-bottom: 16px;
}
.item-hero__img {
  width: 100%;
  height: 100%;
}
.item-hero__title {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.item-hero__title:not(:last-child) {
  margin-bottom: 6px;
}
.item-hero__subtitle {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.item-hero__subtitle:not(:last-child) {
  margin-bottom: 6px;
}

.about {
  position: relative;
}
.about__inner {
  margin-top: -21.62%;
  border-radius: 6px;
  background-color: #252525;
  padding: 7.38% 5.85% 8.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .about__inner {
    margin-top: -10.62%;
  }
}
@media (max-width: 767.98px) {
  .about__inner {
    margin-top: -5.62%;
  }
}
@media (max-width: 400.98px) {
  .about__inner {
    margin-top: -15.62%;
    padding: 27px 19px;
  }
}
.about__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 710px) {
  .about__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__text {
  text-align: center;
  max-width: 734px;
  font-size: 16px;
  color: #A6A6A6;
  line-height: 1.875;
}
.about__text:not(:last-child) {
  margin-bottom: 90px;
}
@media (max-width: 1080px) {
  .about__text:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 460px) {
  .about__text {
    margin-bottom: 30px;
  }
}
.slider-about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.slider-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}
@media (max-width: 1080px) {
  .slider-about__items {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 819.98px) {
  .slider-about__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 819.98px) {
  .slider-about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.slider-about__link {
  display: inline-block;
}
@media (max-width: 819.98px) {
  .slider-about__link {
    width: 100%;
  }
}
@media (max-width: 819.98px) {
  .slider-about__image {
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .slider-about__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.slider-about__button {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider-about__button:hover {
  -webkit-transform: translate(0, -50%) scale(1.05);
      -ms-transform: translate(0, -50%) scale(1.05);
          transform: translate(0, -50%) scale(1.05);
}
@media (max-width: 1080px) {
  .slider-about__button {
    position: static;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .slider-about__button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.slider-about__button_left {
  left: -126px;
}
.slider-about__button_right {
  right: -126px;
}
.work__container {
  padding: 0 15px;
}
.work__inner {
  padding: 7.89% 0;
}
.work__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 710px) {
  .work__title:not(:last-child) {
    margin-bottom: 35px;
  }
}
.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.work__item {
  min-width: 260px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0 15px;
}

.item-work {
  display: inline-block;
  height: 100%;
  padding: 24px 24px 42px;
  border-radius: 6px;
  background-color: #252525;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-work:hover {
  background-color: #34C759;
}
.item-work:hover .item-work__title {
  color: #191919;
}
.item-work:hover .item-work__title::before {
  background-color: #191919;
}
.item-work:hover .item-work__text {
  color: #191919;
}
.item-work__title {
  font-size: 22px;
  color: #fff;
  letter-spacing: -0.28px;
  text-transform: capitalize;
  padding-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-work__title::before {
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #34C759;
  width: 56px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.item-work__title:not(:last-child) {
  margin-bottom: 24px;
}
.item-work__text {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 14px;
  letter-spacing: -0.16px;
  color: rgba(255, 255, 255, 0.5019607843);
  line-height: 1.38;
}

.dishes__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 710px) {
  .dishes__title:not(:last-child) {
    margin-bottom: 35px;
  }
}
.dishes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}
.dishes__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
}

.item-dishes {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-dishes__picture {
  position: relative;
  padding: 0 0 74.285% 0;
}
.item-dishes__image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.item-dishes__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 29px 30px 24px;
  background-color: #252525;
  border-radius: 0 0 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 374.98px) {
  .item-dishes__body {
    padding: 20px 20px 24px;
  }
}
.item-dishes__title {
  font-size: 33px;
  line-height: 0.93;
  color: #D9D9D9;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-dishes__title:not(:last-child) {
  margin-bottom: 7px;
}
.item-dishes__title:hover {
  color: #f6f5f5;
}
.item-dishes__subtitle {
  font-size: 13px;
  line-height: 0.75;
  color: #A4A8B2;
}
.item-dishes__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
.item-dishes__text {
  color: #85878C;
  font-size: 13px;
  line-height: 1.38;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-dishes__text:not(:last-child) {
  margin-bottom: 20px;
}
.item-dishes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 374.98px) {
  .item-dishes__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.item-dishes__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.item-dishes__span-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 2.5;
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 900;
  color: #B3B3B3;
}
.item-dishes__button {
  cursor: pointer;
  border-radius: 100px;
  background-color: #34C759;
  color: #252525;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 900;
  padding: 11px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
.item-dishes__button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #34C759;
  background-color: transparent;
  color: #34C759;
}
.item-dishes__button_unavailable {
  color: rgba(255, 255, 255, 0.5019607843);
  border: 2px solid #303030;
  background-color: transparent;
  cursor: not-allowed;
}
.item-dishes__button_unavailable:hover {
  background-color: transparent;
  border: 2px solid #303030;
  color: rgba(255, 255, 255, 0.5019607843);
}
@media (max-width: 374.98px) {
  .item-dishes__button {
    width: 100%;
    font-size: 14px;
  }
}
.item-dishes__btn-share {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-dishes__btn-share:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.chefs__container {
  padding: 0 15px;
}
.chefs__inner {
  padding: 9.5% 0;
}
.chefs__title:not(:last-child) {
  margin-bottom: 38px;
}
@media (max-width: 710px) {
  .chefs__title:not(:last-child) {
    margin-bottom: 35px;
  }
}
.chefs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 30px;
}
.chefs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 33.333%;
          flex: 0 33.333%;
  padding: 0 15px;
}
@media (max-width: 449.98px) {
  .chefs__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.item-chefs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-chefs__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.item-chefs__top:not(:last-child) {
  margin-bottom: 24px;
}
.item-chefs__picture {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-chefs__picture:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.item-chefs__avatar {
  border-radius: 50%;
}
.item-chefs__info {
  padding-top: 8px;
}
.item-chefs__name {
  font-size: 18px;
  letter-spacing: -0.22px;
  color: #fff;
}
.item-chefs__name:not(:last-child) {
  margin-bottom: 6px;
}
.item-chefs__profession {
  font-size: 13px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.item-chefs__profession:not(:last-child) {
  margin-bottom: 6px;
}
.item-chefs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 449.98px) {
  .item-chefs__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.item-chefs__item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  height: 65px;
}
.item-chefs__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 449.98px) {
  .item-chefs__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: auto;
  }
}
.item-chefs__item_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}
@media (max-width: 449.98px) {
  .item-chefs__item_big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.item-chefs__img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipes__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 710px) {
  .recipes__title:not(:last-child) {
    margin-bottom: 35px;
  }
}
.recipes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
.recipes__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 0 15px;
}
.recipes__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 0 15px;
}
.recipes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.card-big-recipes {
  padding: 11.1111111111% 12.037037037%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-width: 405px;
}
@media (max-width: 600px) {
  .card-big-recipes {
    min-width: 0;
  }
}
@media (max-width: 349.98px) {
  .card-big-recipes {
    padding: 25px 15px 25px 10px;
  }
}
.card-big-recipes__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.card-big-recipes__inner {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-big-recipes__theme {
  text-align: center;
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 1.25px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3019607843);
  border-radius: 3px;
  padding: 4px 13px;
  text-transform: uppercase;
}
.card-big-recipes__theme:not(:last-child) {
  margin-bottom: 69px;
}
@media (max-width: 400.98px) {
  .card-big-recipes__theme:not(:last-child) {
    margin-bottom: 35px;
  }
}
.card-big-recipes__date {
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.card-big-recipes__date:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 400.98px) {
  .card-big-recipes__date:not(:last-child) {
    margin-bottom: 16px;
  }
}
.card-big-recipes__title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  max-width: 411px;
}
.card-big-recipes__title:not(:last-child) {
  margin-bottom: 52px;
}
@media (max-width: 400.98px) {
  .card-big-recipes__title:not(:last-child) {
    margin-bottom: 26px;
  }
}
.card-big-recipes__name {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.card-big-recipes__name:not(:last-child) {
  margin-bottom: 68px;
}
@media (max-width: 400.98px) {
  .card-big-recipes__name:not(:last-child) {
    margin-bottom: 34px;
  }
}
.card-big-recipes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 15px;
}
.card-big-recipes__footer:not(:last-child) {
  margin-bottom: 53px;
}
@media (max-width: 400.98px) {
  .card-big-recipes__footer:not(:last-child) {
    margin-bottom: 26px;
  }
}
.card-big-recipes__viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-big-recipes__picture-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-big-recipes__picture-icon:not(:last-child) {
  margin-right: 12px;
}
.card-big-recipes__num {
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  line-height: 2.1;
}
.card-big-recipes__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-big-recipes__button {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 3;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-big-recipes__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.item-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 29px 28px 25px 30px;
  background-color: #252525;
  border-radius: 8px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 405px;
}
@media (max-width: 600px) {
  .item-recipes {
    min-width: 0;
  }
}
@media (max-width: 349.98px) {
  .item-recipes {
    padding: 25px 15px 25px 10px;
  }
}
.item-recipes::before {
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  z-index: 1;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-recipes:hover::before {
  background-color: #34C759;
}
.item-recipes:hover .item-recipes__title {
  color: #252525;
}
.item-recipes:hover .item-recipes__theme {
  background-color: #000000;
}
.item-recipes:hover .item-recipes__date {
  color: #1A1A1A;
}
.item-recipes:hover .item-recipes__num {
  color: #1A1A1A;
}
.item-recipes:hover .item-recipes__picture-icon rect {
  fill: #191919;
}
.item-recipes__inner {
  position: relative;
  z-index: 2;
  width: 100%;
}
.item-recipes__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.item-recipes__title {
  color: #fff;
  font-size: 16px;
  line-height: 1.875;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 430px) {
  .item-recipes__title {
    text-align: center;
    font-size: 18px;
  }
}
.item-recipes__title:not(:last-child) {
  margin-bottom: 10px;
}
.item-recipes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 430px) {
  .item-recipes__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.item-recipes__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (max-width: 430px) {
  .item-recipes__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.item-recipes__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 430px) {
  .item-recipes__other {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.item-recipes__theme {
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1.25px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3019607843);
  text-transform: uppercase;
  border-radius: 3px;
  padding: 3px 13px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-recipes__date {
  color: #B3B3B3;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-recipes__viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-recipes__picture-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
}
.item-recipes__picture-icon:not(:last-child) {
  margin-right: 12px;
}
.item-recipes__picture-icon rect {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-recipes__num {
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #D8D8D8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-recipes__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__inner {
  padding: 10.8% 0;
}
.social__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 710px) {
  .social__title:not(:last-child) {
    margin-bottom: 35px;
  }
}
.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  row-gap: 30px;
}
@media (max-width: 859.98px) {
  .social__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.social__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  padding: 0 15px;
}

.item-social {
  background-color: #252525;
  border-radius: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-social__head {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 999.98px) {
  .item-social__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 859.98px) {
  .item-social__head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 389.98px) {
  .item-social__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-social__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-social__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
}
.item-social__picture:not(:last-child) {
  margin-right: 20px;
}
.item-social__img {
  width: 100%;
  height: 100%;
}
.item-social__title {
  font-size: 14px;
  color: #BFBFBF;
}
.item-social__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "HelveticaCondensed", sans-serif;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 2px;
  color: #737373;
  text-transform: uppercase;
  padding: 9px 16px;
  border-radius: 50px;
  border: 2px solid #303030;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}
.item-social__link:hover {
  background-color: #303030;
  color: #9a9898;
}
@media (max-width: 999.98px) {
  .item-social__link {
    width: 100%;
  }
}
@media (max-width: 859.98px) {
  .item-social__link {
    width: auto;
  }
}
@media (max-width: 389.98px) {
  .item-social__link {
    width: 100%;
  }
}
.item-social__body {
  border-top: 2px solid #303030;
  padding: 20px 40px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-social__body_pictures {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  border-top: 0;
}
@media (max-width: 389.98px) {
  .item-social__body {
    padding: 20px 10px 20px 20px;
  }
}
.item-social__date {
  color: #737373;
  font-size: 14px;
}
.item-social__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-social__text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7019607843);
  line-height: 2.14;
  height: 120px;
  overflow: auto;
}
.item-social__text:not(:last-child) {
  margin-bottom: 15px;
}
.item-social__author {
  color: #34C759;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-social__author:hover {
  color: #7ccd91;
}

.item-social-item-body {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 115px;
          flex: 1 1 115px;
  position: relative;
  width: 100%;
  position: relative;
  min-width: 115px;
}
.item-social-item-body:hover .item-social-item-body__link {
  opacity: 100%;
}
.item-social-item-body__picture {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.item-social-item-body__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.item-social-item-body__link {
  opacity: 0%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  background-color: #252525;
}
.footer__top {
  padding: 30px 0;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  row-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 245px;
          flex: 0 1 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body {
  padding: 30px 15px;
  border-top: 2px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__link-logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__link-logo:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.footer__link-logo:not(:last-child) {
  margin-bottom: 15px;
}
.footer__description {
  font-size: 13px;
  color: #737373;
  text-align: center;
}

.item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-footer__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-footer__picture:not(:last-child) {
  margin-bottom: 16px;
}
.item-footer__icon {
  width: 100%;
  height: 100%;
}
.item-footer__title {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.item-footer__title:not(:last-child) {
  margin-bottom: 6px;
}
.item-footer__subtitle {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.item-footer__subtitle:not(:last-child) {
  margin-bottom: 6px;
}